﻿@{
    ViewData["Title"] = "ToDo List";
}
@model IEnumerable<Cmc.Core.Entities.User>
<h2>To Do Items</h2>
<ul>
@foreach (var item in Model)
{
    <li>@item.Title<br/>@item.Description</li>    
}
</ul>
